<div class="text-white">

<h1 class="text-white text-center fw-bold my-3">Our Story.. Where All Paths Lead to One Table</h1>


<div>
  <i><h5 class="w-100 ms-sm-5 hello  my-5">
    We're not just a pizza restaurant, we're "the destination".
    If you look closely at our logo, you'll find the compass,
    which is a symbol that no matter your direction or taste, in the end, "the good times" are where it belongs.
  </h5></i>
  <i>
    <h5 class="w-100 ms-sm-5 hello  my-5">
      Why us? We chose warm wood to represent our old homes,
      and we chose to combine the authenticity of Italian dough with innovations to suit all tastes (like cauliflower pizza for dieting or fruit pizza for dessert).
    </h5>
  </i>
  <i>
    <h5 class=" ms-sm-5 hello  my-5 w-100" >
      Our passion: We believe that food is more than just taste; it's an experience that brings friends and family together.
      That's why every dish we serve is made with love from the finest, freshest ingredients.
    </h5>
  </i>
  <h5 class=" text-center w-100 " >Come with your taste map, and let the compass guide you to our table.</h5>
</div>



</div>
